*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #0A1F44;
    padding: 0;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li{
    margin: 0;
}
.navbar ul li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;

}
.navbar ul li a button{
    background-color: aliceblue;
    color: black;
    border-radius: 0cap;
}