*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #0A1F44;
    padding: 0;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li{
    margin: 0;
}
.navbar ul li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color: #555;
}
.btn{
    background-color: #007bff;
    border-radius: 1px;
}
.btn:hover {
    background-color: #005fcc;
}