body{
    background-image: url("../faqja_kryesore.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.center-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.form-box{
    background-color: #9bc4f9;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.form-box input{
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.btn{
    padding: 10px ;
    background:#4a6cf7 ;
    color: rgb(104, 174, 243);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background:#4a6cf7 ;

}