body{
    background-image: url("22.jpg"); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.center-form{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 35px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    text-align: center;
}

.form-box h2{
    margin-bottom: 20px;
    color: #357ABD;
}

.form-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.form-box input:focus{
    outline: none;
    border-color: #357ABD;
}

.btn{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #357ABD;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    list-style: none;
}

.btn:hover{
    background-color: #285f9e;
}
