* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    background: #357ABD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    max-width: 900px;
    padding: 40px;
    border-radius: 12px
}
.title h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #E0F2FE;
}
.text h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    color: #93C5FD;
}
.para p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 12px;
    text-align: center;
    color: #F1F5F9;
}
.btn {
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #38BDF8;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #0EA5E9
}